@using Asistant.Areas.Admin.Models
@model EditAdminViewModel
@{
    ViewData["Title"] = "ویرایش اطلاعات ادمین";
}
<h4>ویرایش اطلاعات ادمین</h4>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
@if (ViewBag.Succeed != null)
{
    <div class="alert alert-success">
        @ViewBag.Succeed
    </div>
}
<form asp-area="Admin" asp-action="EditAdmin" asp-controller="AdminManagement"  method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
    }
    <input type="hidden" asp-for="@Model.Id" />


    <div class="mb-3">
        <label asp-for="@Model.Email" class="form-label">ایمیل</label>
        <input asp-for="@Model.Email" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password" class="form-label">رمز عبور</label>
        <input asp-for="@Model.Password" class="form-control" />

    </div>

  

    <div class="mb-3">
        <label asp-for="@Model.FirstName" class="form-label">نام</label>
        <input asp-for="@Model.FirstName" class="form-control" />

    </div>

    <div class="mb-3">
        <label asp-for="@Model.LastName" class="form-label">نام خانوادگی</label>
        <input asp-for="@Model.LastName" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="@Model.Balance" class="form-label">موجودی</label>
        <input asp-for="@Model.Balance" class="form-control" />

    </div>

    <button type="submit" class="btn btn-success">ذخیره تغییرات</button>
    <a asp-area="Admin" asp-action="ShowAdmins" asp-controller="AdminManagement" class="btn btn-secondary">بازگشت</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
