@using Asistant.Areas.Expert.Models

@model EditExpertViewModel
@{
    Layout = "_ExpertLayout";
    ViewData["Title"] = "ویرایش اطلاعات کارشناس";
}
<h4>ویرایش اطلاعات کارشناس</h4>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
@if (ViewBag.Succeed != null)
{
    <div class="alert alert-success">
        @ViewBag.Succeed
    </div>
}
<form asp-area="Expert" asp-action="EditProfile" asp-controller="Profile" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
    }
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.UserId" />
    <div class="mb-3">

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Url.Content(Model.ImagePath)"
                 alt="عکس کارشناس"
                 class="img-thumbnail"
                 style="max-width:150px;" />
        }

        else
        {

            <p>عکسی ثبت نشده است</p>
        }
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Image" class="form-label">آپلود عکس جدید</label>
        <input asp-for="@Model.Image" type="file" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Email" class="form-label">ایمیل</label>
        <input asp-for="@Model.Email" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password" class="form-label">رمز عبور</label>
        <input asp-for="@Model.Password" class="form-control" />

    </div>



    <div class="mb-3">
        <label asp-for="@Model.FirstName" class="form-label">نام</label>
        <input asp-for="@Model.FirstName" class="form-control" />

    </div>

    <div class="mb-3">
        <label asp-for="@Model.LastName" class="form-label">نام خانوادگی</label>
        <input asp-for="@Model.LastName" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="@Model.Ballance" class="form-label">موجودی</label>
        <input asp-for="@Model.Ballance" type="number" class="form-control" />

    </div>

    <div class="mb-3">
        <label asp-for="@Model.HomeServices">تخصص‌ها</label>
        <select id="skills" asp-for="@Model.HomeServicesIds" asp-items="@Model.HomeServices" option-label="یک سرویس انتخاب کنید" multiple="multiple" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CityId" class="form-label">شهر</label>
        <select asp-for="@Model.CityId" asp-items="@Model.Cities" class="form-select" option-label="یک شهر انتخاب کنید"></select>


    </div>

    <button type="submit" class="btn btn-success">ذخیره تغییرات</button>
    <a asp-area="Expert" asp-action="Index" asp-controller="Profile" class="btn btn-secondary">بازگشت</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#skills').select2({
                placeholder: "انتخاب مهارت‌ها",
                allowClear: true
            });
        });
    </script>
}
