@model HomeServicePage
@{
    ViewData["Title"] = $"سرویس‌های {Model.CategoryName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>سرویس‌های @Model.CategoryName</h1>
<div class="container mt-4">
    <h2 class="mb-3">لیست خدمات</h2>
    <div class="row">
        @foreach (var item in Model.List)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="@item.ImagePath" class="card-img-top" alt="@item.Name" style="height:200px; object-fit:cover;" />
                    <div class="card-body d-flex flex-column">
                        <a asp-area="" asp-action="Index" asp-controller="HomeService" asp-route-id="@item.Id">
                             <h5 class="card-title">@item.Name</h5>
                             </a>
                        <p class="card-text text-muted">@item.Description</p>
                        <p class="card-text">
                            <strong>قیمت:</strong> @item.BasePrice.ToString("N0") ریال
                        </p>
                        <p class="card-text">
                            <strong>دسته‌بندی:</strong> @item.CategoryName
                        </p>
                        <form asp-area="Customer" asp-controller="Request" asp-action="CheckoutRequest" asp-route-homeServiceId="@item.Id" method="post" class="mt-auto">
                            <button type="submit" class="btn btn-primary w-100">ثبت سفارش</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>