@using System.ComponentModel

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -دستیار تو</title>
    <link rel="stylesheet" href="~/lib/font-awesome/all.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Vazir.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/persian-datepicker.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/persian-date.min.js"></script>
    <script src="~/lib/jquery/dist/persian-datepicker.min.js"></script>
 


    @RenderSection("Styles", required: false)
</head>
<body>

    <!-- Header -->
    <header>
        <div class="nav-container">
            <div class="logo">خدمات ما</div>
            <div class="nav-links">
                <a asp-area="" asp-Controller="Home">خانه</a>

                     @await Component.InvokeAsync("ServicesMenu")
            </div>
            <div class="auth-buttons">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    if (User.IsInRole("Admin"))
                    {

                        <div class="nav-links">
                            <a asp-area="Admin" asp-Controller="AdminDashboard" asp-action="Index">داشبورد</a>
                        </div>
                    }
                    if (User.IsInRole("Customer"))
                    {
                        <div class="nav-links">
                            <a asp-area="Customer" asp-Controller="Profile" asp-action="Index">پروفایل</a>
                        </div>
                       
                    }
                    if (User.IsInRole("Expert"))
                    {
                        <div class="nav-links">
                            <a asp-area="Expert" asp-Controller="Profile" asp-action="Index">پروفایل</a>
                        </div>
                    }
                    
                        <span class="navbar-text text-bg-light me-2">سلام، @User.Identity!.Name</span>
                   
                    <div class="nav-item">
                        <form class="d-inline" method="post" asp-area="Identity" asp-page="/Account/Login" asp-page-handler="Logout">
                            <button class="btn btn-outline-light btn-sm">خروج</button>
                        </form>
                    </div>
                   
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="login"> ورود</a>


                    <a asp-area="Identity" asp-page="/Account/Register" class="signup"> ثبت ‌نام </a>
                
                   
                }
            </div>
        </div>
    </header>

  
    
    <!-- محتوای اصلی -->
    <main class="container my-5"> @RenderBody() </main>
   
   

    <!-- Footer -->
    <footer>
        <div class="footer-links">
            <a href="#">درباره ما</a>
            <a href="#">تماس با ما</a>
            <a href="#">سوالات متداول</a>
            <a href="#">وبلاگ</a>
        </div>
        <p>© ۱۴۰۴ خدمات من - همه حقوق محفوظ است</p>
    </footer>
    <script>
        @RenderSection("Scripts", required: false)
    </script>
   
</body>
</html>